<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">App Title</title>
        <meta class="config:app-meta"/>
        <link class="helpers:app-root" rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link class="helpers:app-root" rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link class="helpers:app-root" rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-1.10.2.min.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/scripts/loadsource.js"/>
    </head>
    <body id="body">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span3">
                            <a class="helpers:app-root" href="index.html">
                                <span class="config:app-title brand">App Title</span>
                            </a>
                        </div>
                        <div class="span6">
                            <span class="app:menu"/>
                        </div>
                        <div class="span3">
                            <span class="app:login">Login/-out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="container"/>
        <div id="footer" class="container"/>
    </body>
</html>